<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{school}}</title>
</head>
<body>
    <h2> Welcome to {{school|reverse|upper|capitalize}}</h2> <!--{{school|capitalize}} title, trim    -->
    {{date|format:"  }}
    <form action="" method="post">
        <label>School Name</label><input type="text" name="school_name"><br>
        <label>School Name</label><input type="text" name="student_name"><br>
        <button type="submit">submit</button>
    </form>
    <div class="error">{{error_message}}</div>
    </form>
</body>
</html>